:root {
  --bg-color: #eaebf6;
  --bg-color-blue: #23acde;
  --bg-color-grey: #f8f9fc;
  --bg-color-white: #fff;
  --btn-buy-color: #e0e3f5;
  --blue: #3d8aff;
  --grey: #999;
  --light-grey: #f3f3f3;
  --hovered: #2546ff;
}
